<html>
    <head>
        <meta charset="utf-8">
        <title>글쓰기</title>
    </head>
    <body>
        <h2>게시글 작성</h2>
        <form action='/writeAf' method='post'>
            작성자 : <input type='text' name='id'><br>
            제목 : <input type='text' name='title'><br>
            내용 : <textarea name='content'></textarea><br>
            <button type='submit'>글쓰기</button>
        </form>

        <h2>게시글 리스트</h2>
        <table border='1'>
            <colgroup>
                <col width='60'><col width='200'><col width='100'>
            </colgroup>
            <thead>
                <tr>
                    <th>글번호</th>
                    <th>글제목</th>
                    <th>작성자</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table boader='1'>
    </body>
</html>
